*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;

}
label.logo{
    color:white;
    font-size:35px; 
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    background-color: #000;
    font-family: Arial, Helvetica, sans-serifl;
    font-size: 13px;
}

li{
    float: right;
    border-right: 1px solid #155ee6;
    border-left:1px solid #155ee6 ;

}

a{
    display: block;
    padding:0 28px;
    color: #fff;
    text-decoration: none;
    

}
a.empt {
    color: rgb(2, 2, 2);
}

a:hover{
    background-color: #156ee2;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.active a{
    background-color: #156ee2;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


